* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#results,
#board {
    padding: 0px;
    margin: 25px auto 0;
}

#results tr td {
    border: 1px solid #d6d6d6;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

#board tr td {
    width: 80px;
    height: 80px;
    border: 1px solid #1c1c1c;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

#board tr td:hover {
    background: #e4e4e4;
    cursor: pointer;
}